.container {
  display: flex;
  flex-direction: row;
  font-family: 'roboto';
}

.icon {
  width: 20px;
  margin-left: auto;
}

.list-item {
  list-style-type: none;
  margin: 10px;
}

.suggestion {
  font-weight: thin;
  font-size: 15px;
  margin-left: 0;
  margin-right: 20px;
}
